{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-md-6">
  <h1>Search</h1>
</div>

<br>

{% if searched %}
<h2>{{ searched }}</h2>
<br>


{% for candidate in candidate %}

<div class="card">
  <div class="card-header">
    <a href="{% url 'candidate' candidate.id %}">Candidate Profile:</a>
  </div>
  <div class="card-body">

    <p class="card-text">
    <ul>
      {% if candidate.first_name %}
      <li>{{ candidate.first_name }}</li>
      {% endif %}

      {% if candidate.last_name %}
      <li>{{ candidate.last_name }}</li>
      {% endif %}

      {% if candidate.email %}
      <li>{{ candidate.email }}</li>
      {% endif %}

      {% if candidate.phone %}
      <li>{{ candidate.phone }}</li>
      {% endif %}

      {% if candidate.address %}
      <li>{{ candidate.address }}</li>
      {% endif %}

    </ul>
    </p>
  </div>

  {% endfor %}

  {% for job in job %}

<div class="card">
  <div class="card-header">
    <a href="{% url 'jobs_detail' job.id %}">Job Profile:</a>
  </div>
  <div class="card-body">

    <p class="card-text">
    <ul>
      {% if job.name %}
      <li>{{ job.name }}</li>
      {% endif %}

      {% if job.company %}
      <li>{{ job.company }}</li>
      {% endif %}

      {% if job.city %}
      <li>{{ job.city }}</li>
      {% endif %}

      {% if job.created_at %}
      <li>{{ job.created_at }}</li>
      {% endif %}

      {% if job.id %}
      <li>{{ job.id }}</li>
      {% endif %}

    </ul>
    </p>
  </div>

  {% endfor %}

  {% else %}

  <p>Please use the search bar to search.</p>

  {% endif %}

  {% endif %}

  {% endblock %}